# Header add Content-Security-Policy "default-src 'self' *.sentry.io *.data.gouv.fr *.aticdn.net 'sha256-id/gce/WjIvVb3FcRTQyZ2jIVkhAPE8WiqQ5mKIjoGo=' *.cleverapps.io *.conso.gouv.fr; style-src 'unsafe-inline' https://fonts.googleapis.com; font-src https://fonts.gstatic.com https://fonts.googleapis.com;img-src 'self' *.xiti.com *.cleverapps.io *.conso.gouv.fr data: *.cellar-c2.services.clever-cloud.com; report-uri /csp-violation-report-endpoint/"
Header add Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header add X-Frame-Options "SAMEORIGIN"
Header add X-XSS-Protection "1; mode=block"
Header add X-Content-Type-Options "nosniff"

# Serve index.html in order to have react router browser router working properly
# See https://create-react-app.dev/docs/deployment/#serving-apps-with-client-side-routing for more information
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]